<a href="https://colab.research.google.com/github/Nabaranjan/Python-A-to-Z/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary in Python

In [1]:
# empty dictionary

d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [2]:
# 1D dictionary

d1 = {"name":"Nabaranjan","age":27,"Gender":"Male"}
print(d1)

{'name': 'Nabaranjan', 'age': 27, 'Gender': 'Male'}

In [3]:
# with mixed keys

d2 = {(1,2,3):33,"name":"Nabaranjan"}

print(d2)

{(1, 2, 3): 33, 'name': 'Nabaranjan'}

In [4]:
# 2D Dictionary
d3 = {
    "name": "Nabaranjan",
    "college_name": "MIT",
    "Semester": 6,
    "subject":{"DSA":80, "Math":50, "English": 70}
}

print(d3)

{'name': 'Nabaranjan', 'college_name': 'MIT', 'Semester': 6, 'subject': {'DSA': 80, 'Math': 50, 'English': 70}}

In [5]:
# using sequence and dict function

d4 = dict([("name","Nabaranjan"),("age",26)])
print(d4)

{'name': 'Nabaranjan', 'age': 26}

In [6]:
# duplicate keys

d5 = {"name":"Nabaranjan","age":27,"Gender":"Male","name":"Nabaranjan"}
print(d5)

{'name': 'Nabaranjan', 'age': 27, 'Gender': 'Male'}

In [7]:
# Editing Key-Value Pair

d1 = {"name":"Nabaranjan","age":27,"Gender":"Male"}
print(d1)

{'name': 'Nabaranjan', 'age': 27, 'Gender': 'Male'}

In [8]:
d1['name'] = "Guddu"

print(d1)

{'name': 'Guddu', 'age': 27, 'Gender': 'Male'}

In [9]:
# remove key-value pair

d1 = {"name":"Nabaranjan","age":27,"Gender":"Male"}

d1.pop("age")

print(d1)

{'name': 'Nabaranjan', 'Gender': 'Male'}

# Building a restaurant management system

In [12]:
menu = {
      "Coffee": 2,
      "Pasta": 3,
      "Pizza": 5,
      "Burger": 6,
       "Chicken": 10,
}

print(
    """
    Welcome to Guddy's restaurant. Please Order Food!

    Coffee: $2
    Pasta: $3
    Pizza: $5
    Burger: $6
    Chicken: $10
    """
)

total_price = 0

item1 =("Enter the name of the item you want to order:")

if item1 in menu:
  total_price += menu[item1]
  print(f"Your ordered {item1}. Your total order is ${total_price}.")

else:
  print("Invalid item. Please order something from the menu")


another_order = input("Do you want to add another item? (Yes/No): ").lower()

if another_order == "yes":
  item2 = input("Enter the name of the 2nd item you want to order:")
  if item2 in menu:
    total_price += menu[item2]
    print(f"Your ordered {item2}. Your total order is ${total_price}.")

  else:
    print("Invalid item. Please order something from the menu")

    Welcome to Guddy's restaurant. Please Order Food!

    Coffee: $2
    Pasta: $3
    Pizza: $5
    Burger: $6
    Chicken: $10

Invalid item. Please order something from the menu
Do you want to add another item? (Yes/No): Pizza