<a href="https://colab.research.google.com/github/Nabaranjan/Python-A-to-Z/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Creating Function

print("Hello Nabaranjan, welcome to Python")

In [ ]:
def greet(name):
  output = f"Hello {name}, welcome to Python"
  return output

In [ ]:
greet("Nabaranjan")

'Hello Nabaranjan, welcome to Python'

In [ ]:
def greet():
  output = f"Hello Nabaranjan, welcome to Python"
  return output

In [ ]:
greet()

'Hello Nabaranjan, welcome to Python'

In [ ]:
res = greet()
print(res)

Hello Nabaranjan, welcome to Python

In [ ]:
def greet(name):
  output = f"Hello {name}, welcome to Python"
  return output

  names = ["Nabaranjan","Guddu","Guddy"]

for name in names:
  res = greet(name)
  print(res)

Hello Nabaranjan, welcome to Python
Hello Guddu, welcome to Python
Hello Guddy, welcome to Python

In [ ]:
def odd_even(num):
  if num % 2 == 0:
    return "Even number"
  else:
    return "Odd Number"

In [ ]:
res = odd_even(3)
print(res)

Odd Number

In [ ]:
for i in range(1,11):
  res = odd_even(i)
  print(i,res)

1 Odd Number
2 Even number
3 Odd Number
4 Even number
5 Odd Number
6 Even number
7 Odd Number
8 Even number
9 Odd Number
10 Even number

#Docstring in Function

In [ ]:
def odd_even(num):

  """
  This function checks if a given number is odd or even.
  input: any valid number/integer
  output: odd/even
  created Date: 20-10-2024
  """
  if num % 2 == 0:
    return "Even number"
  else:
    return "Odd Number"

In [ ]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

# Parameters VS Arguments

In [ ]:
def power(a = 2,b = 3):
  return a**b

In [ ]:
power(2,5)

32

# Args and kwargs function

In [ ]:
#args
def multiply(a,b,c):
  return a * b * c
multiply(2,3,4)

24

In [ ]:
def multiply(*args):
  print(args)

In [ ]:
multiply(1,2,3,3,4,5,6)

(1, 2, 3, 3, 4, 5, 6)

In [ ]:
def multiply(*args):
  product = 1
  for i in args:
    product = product * i

  return product

res = multiply(1,2,3,4,5,6,5,6,7)
print(res)

151200

In [ ]:
# Kwargs
def display(**kwargs):
  print(kwargs)

In [ ]:
display(india="Delhi",odisha="Bhubaneswar",Bihar="patna")

In [ ]:
# Nested Function

def f():
  def g():
    print("Inside function g")
    f()

  g()
   print("Inside function f")

In [ ]:
f()

In [4]:
# type and id

def square(num):
  return num**2

  print(type(square))
  print(id(square))