<a href="https://colab.research.google.com/github/Nabaranjan/Python-A-to-Z/blob/main/Function2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Map , Filter and reduce

In [ ]:
map()

In [ ]:
a = lambda x: x
L = [1,2,3,4,5]

map(a,L)

In [ ]:
list(map(lambda x: x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
L = [1,2,3,4,5]
list(map(lambda x:'even' if x%2==0 else 'odd', L))

['odd', 'even', 'odd', 'even', 'odd']

In [1]:
users = [
    {
    'name':'Guddu',
     'age' : 4,
      'gender' :'female'
    },
    {
        'name':'Nabaranjan',
        'age' : 27,
        'gender' :'male'
    },
    {
        'name':'Guddy',
        'age' : 27,
        'gender' :'female'
    }

]

list(map(lambda users:users['name'],users))

['Guddu', 'Nabaranjan', 'Guddy']

In [2]:
# numbers greater than 2

L = [1,2,3,4,5]
list(filter(lambda x:x>2, L))

[3, 4, 5]

Reduce

In [4]:
# sum of all item

import functools
L = [1,2,3,4,5]
functools.reduce(lambda x,y:x+y, L)

15

# Enumerate Function in Python

In [6]:
L = ["Nabaranjan","Guddu","Guudy","Sham"]

for index, name in enumerate(L):
  print(index, name)

0 Nabaranjan
1 Guddu
2 Guudy
3 Sham

# Problem 1

In [12]:
def unique_items(L):
    results = []
    for i in L:
        if i not in results:
            results.append(i)
    return results

L = [1, 2, 3, 3, 3, 3, 4, 5]
out = unique_items(L)
print(out)

[1, 2, 3, 4, 5]