<a href="https://colab.research.google.com/github/Nabaranjan/Python-A-to-Z/blob/main/Lists_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists in Python

In [ ]:
#indexing

l = [1,2,3,4,5]
l[4]

5

In [ ]:
l3 = [[[1,2],[3,4]],[[5,6],[7,8]]]
len(l3)

2

In [ ]:
l = [1,2,3,4,5]
l[0:2]

[1, 2]

In [ ]:
l[::3]

[1, 4]

Lists Methods in Python

In [ ]:
# append

L = [1,2,3,4]
print(L)

[1, 2, 3, 4]

In [ ]:
L.append(5)
print(L)

[1, 2, 3, 4, 5, 5]

In [ ]:
L = [1,2,3,4]

L[0] = 100


print(L)

[100, 2, 3, 4]

In [ ]:
# editing with indexing

L = [1,2,3,4]

L[3] = 200

print(L)

[1, 2, 3, 200]

In [ ]:
# editing with slicing

L = [1,2,3,4]

L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400]

In [ ]:
# Append

L = [1,2,3,4]

L.append(5)
L.append(200)

print(L)

[1, 2, 3, 4, 5, 200]

In [ ]:
# Extend

L = [1,2,3,4]

L.append ([6,7,8])
print(L)

[1, 2, 3, 4, [6, 7, 8]]

In [ ]:
L = [1,2,3,4]

L.append(True)
print(L)

[1, 2, 3, 4, True]

In [ ]:
L = [1,2,3,4]

a = [10,11,12]

L.extend(a)

print(L)

[1, 2, 3, 4, 10, 11, 12]

In [ ]:
L.extend("Hello")

print(L)

[1, 2, 3, 4, 10, 11, 12, 'H', 'e', 'l', 'l', 'o']

In [ ]:
# Insert

L = [1,2,3,4]

L.insert(1,200)

print(L)

[1, 200, 2, 3, 4]

In [ ]:
# Delete

L = [1,2,3,4]

del L[0]

print(L)

[2, 3, 4]

In [ ]:
L = [1,2,3,4]

del L[1:3]

print(L)

[1, 4]

In [ ]:
# Remove

L = [1,2,3,4]

L.remove(4)

print(L)

[1, 2, 3]

In [ ]:
# POP

L = [1,2,3,4]

L.pop()
L.pop()
print(L)

[1, 2]

In [ ]:
# Clear

L = [1,2,3,4]

L.clear()

print(L)

[]

In [ ]:
# Len / Min / Max / Sorted

L = [1,2,3,4]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=False))

4
1
4
[1, 2, 3, 4]

In [ ]:
# Count

L = [1,2,3,4]

L.count(5)

0

In [ ]:
# index

L = [1,2,3,4]

L.index(2)

1

In [ ]:
#reverse

L = [1,2,3,4]

L.reverse()
print(L)

[4, 3, 2, 1]

In [ ]:
#Sort
L = [4,2,1,55,10]

L.sort()
print(L)

[1, 2, 4, 10, 55]

In [ ]:
# Copy

L = [1,2,3,4]

l1 = L.copy()

print(l1)

L.append(500)
print(L)

[1, 2, 3, 4]
[1, 2, 3, 4, 500]

# Operations on Lists



1.   Arithmetic
1.   Membership
2.   Loop

In [ ]:
L1 = [1,2,3,4,5]
L2 = [5,6,7,8,9]

L1+L2 # Concatination

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [ ]:
# Membership

L1 = [1,2,3,4,5]
L2 = [5,6,[7,8,9]]

print(4 in L1)
print([7,8,90] not in L2)

True
True

In [ ]:
# Loop

L1 = [1,2,3,4,5]

for i in L1:
  print(i)

1
2
3
4
5

# List Comprehension

In [1]:
# Add 1 to 10 numbers to a list

L = []

for i in range(1,11):
  L.append(i)

  print(L)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
L =[i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# Scalar Multiplication on a vector

v = [2,3,4]
s = -3

L = []

for i in v:
  result = i * s
  L.append(result)


  print(L)

[-6]
[-6, -9]
[-6, -9, -12]

In [7]:
  L = [i*s for i in v]

  print(L)

[-6, -9, -12]

In [8]:
# Add squares

L = [1,2,3,4]

LC =[i**2 for i in L]
print(LC)

[1, 4, 9, 16]

In [10]:
# Print all numbers divisible by 5 in the range of 1 to 50

for i in range(1,51):
  if i%5==0:
    print(i)

5
10
15
20
25
30
35
40
45
50

In [12]:
L = [i for i in range(1,51) if i%5==0]
print(L)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [18]:
# find languages which start with letter p

languages = ['java','python','c','javascript']

LC = [language for language in languages if language.startswith("p")]
print(LC)

['python']

# Zip Function

In [19]:
L1 = [1,2,3,4]
L2 = [5,6,7,8]
list(zip(L1,L2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [20]:
roll_number = [1,2,3,4,5]
student_name = ['Nabaranjnan','Guddu',"Lucky",'Happy']

list(zip(roll_number, student_name))

[(1, 'Nabaranjnan'), (2, 'Guddu'), (3, 'Lucky'), (4, 'Happy')]

In [23]:
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i-j for i,j in zip(L2, L1)]

[4, 4, 4, 4]

In [24]:
L1 = [1,2,3,4]
L2 = [5,6,7,8]
L3 = [9,10,11,12]

list(zip(L1,L2,L3))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [25]:
zip(L1,L2)

for i in zip(L1,L2):
  print(i)

(1, 5)
(2, 6)
(3, 7)
(4, 8)

# Exercise

In [27]:
cars_name = ["Audi","BMW","TATA","Volvo"]
no_of_cars = [10,20,30,5]

for i,j in zip(cars_name,no_of_cars):
  print(f"{i} = {j}")

Audi = 10
BMW = 20
TATA = 30
Volvo = 5

In [30]:
L = [2,4,6,10,1]

result = []

for i in L:
  sum = 0
  for j in L:
    if i<=j:
      sum = sum + j
    result.append(sum)

  print(result)

[2, 6, 12, 22, 22]
[2, 6, 12, 22, 22, 0, 4, 10, 20, 20]
[2, 6, 12, 22, 22, 0, 4, 10, 20, 20, 0, 0, 6, 16, 16]
[2, 6, 12, 22, 22, 0, 4, 10, 20, 20, 0, 0, 6, 16, 16, 0, 0, 0, 10, 10]
[2, 6, 12, 22, 22, 0, 4, 10, 20, 20, 0, 0, 6, 16, 16, 0, 0, 0, 10, 10, 2, 6, 12, 22, 23]