<a href="https://colab.research.google.com/github/Nabaranjan/Python-A-to-Z/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Loops

In [1]:
#While Loops

i = 1

while i<10:
  print("Nabaranjan")
  i += 1

Nabaranjan
Nabaranjan
Nabaranjan
Nabaranjan
Nabaranjan
Nabaranjan
Nabaranjan
Nabaranjan
Nabaranjan

In [2]:
#Program to printmultiplication table

number = int(input("Enter thenumber"))

i = 0

while i<11:
  print(i)
  i += 1

Enter thenumber4
0
1
2
3
4
5
6
7
8
9
10

In [3]:
number = int(input("Enter thenumber"))

i = 1

while i<11:
  print(i*number)
  i += 1

Enter thenumber2
2
4
6
8
10
12
14
16
18
20

In [4]:
number = int(input("Enter thenumber"))

i = 1

while i<11:
  print(number, "*", i, "=", number*i)
  i += 1

Enter thenumber2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [5]:
# While loop with els

x = 1
while x<4:
  print(x)
  x += 1
else:
  print("Program Executed")

1
2
3
Program Executed