<a href="https://colab.research.google.com/github/Nabaranjan/Python-A-to-Z/blob/main/Nested_For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Unique Pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

#Excercise

In [3]:
row = int(input("Enter number of rows: "))

for i in range(1,row+1):
  print("*")

Enter number of rows: 2
*
*

In [6]:
row = int(input("Enter number of rows: "))

for i in range(1, row+1):
  for j in range(1, i+1):
    print("*", end="")
  print()

Enter number of rows: 5
*
**
***
****
*****