<a href="https://colab.research.google.com/github/Nabaranjan/Python-A-to-Z/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Multiple statements on a single line
x=5;y=10;z=x+y
print(z)

15

In [ ]:
# Understand semantics in Python
age = 32
name = "Nabaranjan"

type(age)

int

In [ ]:
# Type Inference

variable=10
print(type(variable))

<class 'int'>

In [ ]:
age=32
if age>30:
  print(age)

32

In [ ]:
# Declaring and Assigning Variable

age = 32
height = 6.1
name = "Nabaranjn"
is_student = True

#Printing Variable

print("age:",age)
print("Height:",height)
print("Name:",name)

age: 32
Height: 6.1
Name: Nabaranjn

In [ ]:
##input

age = input("what is the age")
print(age,type(age))

what is the age26
26 <class 'str'>

# Data Types

In [ ]:
# Integer Example

age = 35
type(age)

int

In [ ]:
## Floating Point Data types

height = 5.22
print(height)
print(type(height))

5.22
<class 'float'>

In [ ]:
# String Data types

name = "Nabaranjan"
print(name)
print(type(name))

Nabaranjan
<class 'str'>

In [ ]:
# boolean

is_true = True

type(is_true)

bool

Operators

In [ ]:
# Arithmetic operation

a = 10
b = 5

add_result = a+b #addition
sub_result = a+b #subtraction
mult_result = a*b #multiplication
div_result = a/b #division
floor_div_result = a//b #floor division
modulus_result = a%b #modulus division
exponent_result = a**b #Exponentiation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
15
50
2.0
2
0
100000

In [ ]:
## Comparison Operators
## ==

a = 10
b = 10

a==b

True

In [ ]:
str1 = "Nabaranjan"
str2 = "Nabaranjan"

str1==str2

True

In [ ]:
#greater than

num1 = 45
num2 = 55

num1>num2

False

In [ ]:
## less than

print(num1<num2)

True

In [ ]:
# greater than or equal to

number1 = 45
number2 = 45

print(number1>=number2)

True

In [ ]:
# less than or equal to

number1 = 44
number2 = 45

print(number1<=number2)

True

Logical Operator

In [ ]:
## And, Not , OR

X = True
Y = True

result = X and Y
print(result)

True

In [ ]:
# OR

X = False
Y = True
result = X or Y
print(result)

True

In [ ]:
# Not Operator

X = False
not X

True

In [ ]:
# If satement

age = 20

if age >= 18:
  print("You are allowed to votein the elections")

You are allowed to votein the elections

In [ ]:
## else

age = 16

if age >= 18:
  print("You are eligible for voting")
else:
  print("You are a minor")

You are a minor

In [ ]:
## elif

age = 17
if age < 13:
  print("You are a child")
elif age<18:
  print("You are a teenager")
else:
  print("You are an adult")

You are a teenager

In [ ]:
#Nested Condition

num = int(input("Enter the number"))

if num>0:
  print("The number is positive")
  if num%2==0:
    print("The number is even")
  else:
    print("The number is odd")

else:
  print("The number is zero or negative")

Enter the number3
The number is positive
The number is odd

In [ ]:
# Practical Examples
# Determine if a year is a leap year using condition statement


year = int(input("Enter the year"))

if year%4==0:
  if year%100==0:
    if year%400==0:
      print(year,"is a leap year")
    else:
      print(year,"is not a leap year")
  else:
    print(year,"is a leap year")

else:
  print(year,"is not a leap year")

Enter the year2012
2012 is a leap year

In [ ]:
# for loop

range(5)

range(0, 5)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

In [ ]:
#strings

str = "Nabaranjan"
for i in str:
  print(i)

N
a
b
a
r
a
n
j
a
n

In [ ]:
count = 0

while count<5:
  print(count)
  count=count+1

0
1
2
3
4

In [ ]:
couunt = 0

while count%2==0:
  print(count)
  print()

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
for i in range(5):
  if i==3:
    pass
  print(i)

0
1
2
3
4

In [ ]:
for i in range(3):
  for j in range(2):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [ ]:
n = 10
sum = 0
count = 1

while count <= n:
  sum = sum+count
  count = count+1

  print("sum of first 10 natural number:",sum)

sum of first 10 natural number: 1
sum of first 10 natural number: 3
sum of first 10 natural number: 6
sum of first 10 natural number: 10
sum of first 10 natural number: 15
sum of first 10 natural number: 21
sum of first 10 natural number: 28
sum of first 10 natural number: 36
sum of first 10 natural number: 45
sum of first 10 natural number: 55

In [ ]:
for num in range(1,101):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
lst= []
print(type(lst))

<class 'list'>

In [ ]:
# Tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
number = tuple([1,2,3,4])
9print(number)

(1, 2, 3, 4)

In [ ]:
mixed_tuple = (1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [ ]:
"""This function converts temperature between Celsius and Fahrenheit"""
def convert_temperature(temp,unit):
  if unit == 'C':
    return temp * 9/5 + 32 ##Celsius to Fahrenheit
  elif unit == "F":
    return (temp-32)*5/9 ## Fahrenheit to celsius
  else:
    return None

print(convert_temperature(25,'C'))
print(convert_temperature(77,'F'))

77.0
25.0

In [ ]:
def is_strong_password(password):
  if len(password)<8:
    return False
  if not any(char.isdigit() for char in password):
    return False
  if not any(char.islower() for char in password):
    return False
  if not any(char.isupper() for char in password):
    return False
  if not any(char in '!@#$%^&*()_+' for char in password):
    return False
  return True


## calling the function

print(is_strong_password("WeakPwd"))
print(is_strong_password("StrongPwd"))

False
False

In [ ]:
def even(num):
  if num%2==0:
    return True


even(24)

True

In [1]:
# Lambda Function with map

numbers = [1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [2]:
numbers1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers = (map(lambda x,y:x+y, numbers1,numbers2))
print(added_numbers)

<map object at 0x7f59e63d15a0>