<a href="https://colab.research.google.com/github/Nabaranjan/Python-A-to-Z/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Tuples

In [1]:
# empty tuple

t1 = ()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [3]:
# Creating a tuple with a single item

t2 = ("Nabaranjan",)
print(t2)
print(type(t2))

('Nabaranjan',)
<class 'tuple'>

# Accessing Items



1.   Indexing
2.   Slicing

In [7]:

t3 = (1,2,3,4)


t3[2]

3

In [8]:
t3[-3]

2

In [9]:
t3[::2]

(1, 3)

# Editing items / Deleting items

In [10]:
t3 = (1,2,3,4)

t3[0] = 100

TypeError: 'tuple' object does not support item assignment

In [11]:
del t3[1]

TypeError: 'tuple' object doesn't support item deletion

In [12]:
# Type Casting


t3 = (1,2,3,4)

temp = list(t3)
print(t3)

(1, 2, 3, 4)

In [13]:
temp.append(200)
print(temp)

[1, 2, 3, 4, 200]

In [14]:
t3 = tuple(temp)

print(t3)

(1, 2, 3, 4, 200)

# Tuples Operations in Python

In [15]:
# Arithmetic Operations

t1 = (1,2,3,4)
t2 = (5,6,7,8)

t1 + t2 # concatination

(1, 2, 3, 4, 5, 6, 7, 8)

In [16]:
t1 * 4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [18]:
# Membership

t1 = (1,2,3,4)

1 not in t1

True

In [19]:
# Loop


t1 = (1,2,3,4)

for i in t1:
  print(i)

1
2
3
4

# Tuples Method

In [20]:

t = (1,2,3,40)

print(len(t))
print(min(t))
print(max(t))
print(sum(t))
print(sorted(t,reverse = True))

4
1
40
46
[40, 3, 2, 1]

In [21]:
# count

t = (1,2,3,40)

t.count(3)

1

In [22]:
#index

t.index(2)

1

In [23]:
# unpacking

a,b,c =(1,2,3)

print(a,b,c)

1 2 3