<a href="https://colab.research.google.com/github/Nabaranjan/Python-A-to-Z/blob/main/Type_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Type Conversion


1.   Implicit - Internally by Python
2.   Explicit - By the Programmers

In [1]:
#implicit

print(5 + 5.5) #(here you can see addition of int and float data types and result is also float . in this case python do it internally so it is called implicit)

10.5

In [2]:
type(5)

int

In [3]:
type(5.5)

float

In [4]:
type(10.5)

float

In [5]:
#Explicit

print(4 + "4") #(here typerror happens due to unable adding two differe data types as int and string)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
print(4 + int("4")) # here code runs because i have change string data types into integer .

8